[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MiguelNdeCarvalho
[access "refs/for/refs/*"]
	read = group user/MiguelNdeCarvalho
	push = group user/MiguelNdeCarvalho
	label-Code-Review = -2..+2 group user/MiguelNdeCarvalho
	label-Verified = -1..+1 group user/MiguelNdeCarvalho
	rebase = group user/MiguelNdeCarvalho
	removeReviewer = group user/MiguelNdeCarvalho
	submit = group user/MiguelNdeCarvalho
[access "refs/heads/*"]
	read = group user/MiguelNdeCarvalho
	create = group user/MiguelNdeCarvalho
	push = +force group user/MiguelNdeCarvalho
	pushMerge = group user/MiguelNdeCarvalho
[access "refs/tags/*"]
	push = group user/MiguelNdeCarvalho
	push = +force group user/MiguelNdeCarvalho
